#chatroom {
  height: calc(100vh - 10px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 70px;
}

#chatroom dialog img {
  border-radius: 10px;
  width: 320px;
  height: 240px;
  object-fit: cover;
}

@media(max-width: 768px) {
  #chatroom {
    height: calc(100vh - 68px);
    gap: 0;
    padding-top: 60px;
  }
}


@media screen and (max-width: 468px) {
  #chatroom dialog img {
    width: 260px;
    height: 196px;
}
}
