.search-result, .search-result--friends {
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-result__image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid var(--clr-royal-blue);
  margin: 0 auto;
  overflow: hidden;
}

.search-result__image img {
  object-fit: cover;
  object-position: center;
  height: 8rem;
  width: 8rem;
}

.search-result__text {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
}

.search-result__buttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}

@media(max-width:668px) {
  .search-result--friends {
    flex-direction: column;
    padding: 16px;  
  }
  .search-result__description {
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    gap: 1.5rem;
  }

  .search-result__text {
    flex: 1;
    padding-top: 5px;
    align-self: flex-start;
  }

   .search-result__image {
     height: 60px;
     width: 60px;
   }
   
   .search-result__image img {
    max-height: 5.6rem;
    max-width: 5.6rem;
   }
   
   .search-result--friends .search-result__buttons {
     padding: 0 0;
     width: 100%;
     justify-content: space-between;
     align-items: start;
   }
}
